@model Employees.Entities.Employees.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />

    <div id="Tabs" role="tabpanel">
        <!-- Tab Strip -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#details" role="tab" data-toggle="tab">Employee Details</a>
            </li>
            <li role="presentation">
                <a href="#documents" role="tab" data-toggle="tab">Documents</a>
            </li>
            <li role="presentation">
                <a href="#links" role="tab" data-toggle="tab">Links</a>
            </li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content">
            <!-- Personal Tab -->
            <div role="tabpanel" class="tab-pane active" id="details">
                <div class="form-horizontal">
                    <h4>Employee Details</h4>
                    <hr />


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateOfBirth):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateOfBirth, "{0:dd/MM/yyyy}")
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber):
                        </dt>

                        <dd>
                            <br />@Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmergencyContactName):
                        </dt>

                        <dd>
                            <br />@Html.DisplayFor(model => model.EmergencyContactName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmergencyContactPhoneNumber):
                        </dt>

                        <dd>
                            <br />@Html.DisplayFor(model => model.EmergencyContactPhoneNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.JobRole):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JobRole)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.StartDate):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PreviousJob):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PreviousJob)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ImageID)
                        </dd>
                        <dd>

                            @{Html.RenderAction("Display", "Image", new { id = Model.ImageID });}

                            @*<img src="@Url.Content("~/Uploads/Marc_Milliken.JPG")" alt="Image" width="100" />*@

                        </dd>

                    </dl>
                </div>
            </div>
            <!-- Documents Tab -->
            <div role="tabpanel" class="tab-pane" id="documents">
                <div class="form-horizontal">
                    <h4>Documents</h4>
                    <hr />
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Documentation):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Documentation)
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- Links Tab -->
            <div role="tabpanel" class="tab-pane" id="links">
                <div class="form-horizontal">
                    <h4>Useful Links</h4>
                    <hr />
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.UsefulLinks):
                        </dt>

                        <dd>
                            <br /><a href="@(Html.DisplayFor(model => model.UsefulLinks))">@(Html.DisplayFor(model => model.UsefulLinks))</a>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
