@model PagedList.PagedList<Employees.Entities.Employees.Employee>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Employee List";
}

<h2>Neueda Employee List</h2>
<p>To create a new Employee record, click 'Create New Employee'</p>

<p>
    @Html.ActionLink("Create New Employee", "Create")
</p>

@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <p>
        Search by Name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Employee Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Job Role
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageID)
                @*<img src="@Url.Content("~/Uploads/Marc_Milliken.JPG")" alt="Image" width="100" />*@
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit |", "Edit", new { id = item.EmployeeID })
                    }
                    else if (User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Edit |", "Edit", new { id = item.EmployeeID })
                    }
                }
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID })
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("| Delete", "Delete", new { id = item.EmployeeID })
                    }
                }

            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Employees
